@model GadgetHub.WebUI.Models.GadgetsListViewModel

@{
    ViewBag.Title = "Gadgets";
}

@foreach (var g in Model.Gadgets)
{
    <div>
        <h3>@g.GadgetName</h3>
        @g.GadgetDesc
        <h4>@g.GadgetPrice.ToString("c")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>